
.advertPhotos {
    width: 100vw;
    height: 600px;
    display: flex;
    justify-content: center;
}

.sectionLeft {
    width: 100%;
    height: 100%;
    background: url(../assets/imgs/big-cocktail.webp);
    background-size: 51% 101%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0% 0%;
}


.sectionRight {
    width: 100%;
    height: 100%;
    background-image: url(../assets/imgs/blueMan-cocktail.webp);
    background-size: 51% 101%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 100% 0%;
}

.textBlock {/*TODO: tentar fixar o texto na imagem */
    width: 50%;
    height: 600px;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(165, 42, 42, 0.0);
}


.textBlock h4 {
    font-size: 20px;
    color: #ffffff;
}

.textBlock p {
    font-family: 'caudex';
    font-size: 16.5px;
    line-height: 30px;
    color: #ffffff;
}

/* 
@media (max-width: 1024px) {

    .about {
        height: 700px;
    }
    .sectionLeft {
        width: 600px;
        height: 700px;
    }
    
    .textBlock {
        width: 350px;
        height: 70%;
    }
    
    .texts {
        width: 290px;
        height: 200px;
        margin-bottom: 10px;
    }
    
    .textBlock h4 {
        font-size: 20px;
    }
    
    .textBlock p {
        font-size: 14px;
        line-height: 20px;
    }

}

@media (max-width: 800px) {

    .sectionLeft {
        display: none;
    }
    
    .sectionRight {
        width: 100vw;
    }

}


@media (max-width: 415px) {
    .about {
        width: 100vw;
        height: 1000px;
        display: flex;
        flex-direction: column;
    }
    
    .sectionLeft {
        display: flex;
        background-size: 415px 500px;
        background-repeat: no-repeat;
        background-attachment:scroll;
    }
} */